{
    "teamMates": [],
    "message": {
        "return": "자리에 돌아왔습니다.",
        "start": "근무 시작합니다",
        "end": "근무 종료합니다",
        "action": "*{0}*: {1} {2:%H}시 {2:%M}분에 돌아올게요."
    },
    "prefix": {
        "rest": "쉬고",
        "eat": "밥 먹고"
    },
    "slack_hook": null,
    "google": {
      "client_id": "",
      "client_secret": "",
      "project_id": "",
      "scopes": [
            "https://www.googleapis.com/auth/calendar",
      ],
      "work_calendar_id": ""
    },
    "token_bucket_name": null
}
