<html>
    <body>
        <form method="POST" action="{{ url_for('.make_action') }}">
            <fieldset>
                {% for team in team_mates %}
                    <label>
                        <input type="radio" value="{{ team }}" name="name" />
                        {{ team }}
                    </label>
                {% endfor %}
            </fieldset>


            <fieldset>
                <input type="text" name="act" placeholder="~하고" />
                <input type="number" name="time"/>분
            </fieldset>

            <button type="submit">
                전송
            </button>
        </form>
    </body>
</html>
