<html>
    <body>
        <form method="POST" action="{{ url_for('.make_action') }}">
            <input type="hidden" name='act' value="{{ prefix }}" />

            <fieldset>
                {% for team in team_mates %}
                    <label>
                        <input type="radio" value="{{ team }}" name="name" />
                        {{ team }}
                    </label>
                {% endfor %}
            </fieldset>

            <fieldset>
                <label>
                    <input type="radio" value="60" name="time" />
                    1h
                </label>

                <label>
                    <input type="radio" value="90" name="time" />
                    1.5h
                </label>

                <label>
                    <input type="radio" value="120" name="time" />
                    2h
                </label>
            </fieldset>

            <button type="submit">
                전송
            </button>
        </form>
    </body>
</html>
