<html>
    <body>
        <form method="POST" action="{{ url_for('.make_action') }}">
            <input type="hidden" name="act" value="{{ prefix }}" />

            <fieldset>
                {% for team in team_mates %}
                    <label>
                        <input type="radio" value="{{ team }}" name="name" />
                        {{ team }}
                    </label>
                {% endfor %}
            </fieldset>

            <fieldset>
                {% for rest in [5, 10, 15, 20, 30] %}
                    <label>
                        <input type="radio" value="{{ rest }}" name="time" />
                        {{ rest }}
                    </label>
                {% endfor %}
            </fieldset>

            <button type="submit">
                전송
            </button>
        </form>
    </body>
</html>
